.Menu {
  text-align: center;
}
body {
  background-color: black;
  overflow-x: hidden;
}

.delete-icon {
  color: red;
  cursor: pointer;
}
.add-icon {
  color: green;
  cursor: pointer;
  font-size: 24px;
}
.table-container {
  margin: 0 auto;
  text-align: center;
}
.clear-all-button {
  margin-top: 20px;
  margin-right: 20px; /* Adicione esta linha */
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cadastrar-doacao-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(0, 255, 85);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.codigo-input,
.descricao-input,
.fornecedor-input,
.valor-input,
.quantidade-input,
.estado-select,
.unidade-select {
  background-color: black;
  color: white;
  border: 1px solid green;
  height: 30px;
  text-align: center;
}




table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: black;
  box-shadow: 0 0 10px green;
}

th,
td {
  padding: 10px;
  border: 2px solid black;
  color: white;
}

th {
  color: green;
}

td input,
td select {
  border: 1px solid green;
  color: black;
}

.fornecedor-column {
  display: flex;
  align-items: center;
}

.fornecedor-input {
  margin-right: 5px;
}

.estado-select {
  margin-left: 5px;
}
