html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}
.main-footer {
  color: white;
  background-color: #000000;
  padding: 2em 0; /* Altere o valor do padding para diminuir o espaçamento vertical */
  position: absolute;
  bottom: -254px;
  left: 0;
  width: 100%;
  margin-top: 100px;
}
.contact-info {
  font-size: 22px;
}
