.Menu {
  text-align: center;
  }
.delete-icon {
  color: red;
  cursor: pointer;
}

.add-icon {
  color: green;
  cursor: pointer;
  font-size: 24px;
}

.table-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.clear-all-button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: s;
}

.cadastrar-doacao-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(0, 255, 85);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
}

.codigo-input,
.descricao-input,
.fornecedor-input,
.valor-input,
.quantidade-input,
.estado-select,
.unidade-select {
  background-color: white;
  color: black;
  border: 1px solid green;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
table {
  margin: 0 auto;
  margin-top: 50px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px green;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

th,
td {
  padding: 10px;
  border: 2px solid black;
  color: white;
}

th {
  color: green;
}

td input,
td select {
  border: 1px solid green;
  color: black;
  border-radius: 10px;
}

.fornecedor-column {
  display: flex;
  align-items: center;
}

.fornecedor-input {
  margin-right: 5px;
}

.estado-select {
  margin-left: 5px;
}

.quantidade-input,
.valor-input {
  background-color: white;
  color: black;
  border: 1px solid green;
  height: 30px;
  text-align: center;
  width: 80px;
}

.Titulo-tabela {
  position: relative;
  margin-top: 10px;
  color: rgb(11, 43, 23);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.alimento {
  position: relative;
  margin-right: 60%;
  width: 20%;
  border: 3px solid green;
  border-radius: 25%;
}

.add-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-button:focus,
.delete-button:focus {
  outline: none;
}

.add-button .add-icon,
.delete-button .delete-icon {
  font-size: 24px;
}

.add-button .add-icon {
  color: green;
}

.delete-button .delete-icon {
  color: red;
}

/* Estilos para o pop-up */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid green;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  z-index: 9999;
}

.success-popup {
  font-size: 15px;
  color: rgb(7, 255, 48);
  border-radius: 4px;
}

.popup-message {
  font-size: 18px;
  color: green;
  margin-bottom: 10px;
}

.popup-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: darkgreen;
}


