.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    text-align: center;
    margin-bottom: -20px;
  }
  
  .input-container label {
    display: block;
    
  }
  
  .input-container input[type="text"],
  .input-container input[type="email"],
  .input-container input[type="password"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #00ff00;
    border-radius: 4px;
  }
  
  .input-container input[type="text"]:focus,
  .input-container input[type="email"]:focus,
  .input-container input[type="password"]:focus {
    outline: none;
    border-color: #28a745;
    border-radius: 10px;
  }
  
  .button-container {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .button-container .btn-wrapper {
    display: inline-flex;
    align-items: center;
  }
  
  .button-container input[type="file"],
  .button-container button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container button {
    background-color: #00ff00;
    position: absolute;
    right: 780px;
  }
  
  .button-container .btn-excluir {
    background-color: #dc3545;
    position: absolute;
    right: 480px;
   }
    #foto{
    align-items: center;
    position: relative;
    padding-left: 220px;
    }
    .Imagem-perfil{
        width: 100px;
        border-radius: 100%;
    }